PORT=5000
MONGO_URI=your_mongodb_connection_string
JWT_SECRET=generate_a_random_secret_string
SECRET_APP_PIN=1901
AWS_REGION=your_aws_region
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_S3_BUCKET_NAME=your_bucket_name
FRONTEND_ORIGIN=http://localhost:5173
